<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <title>Partners</title>
</head>

<body onload="init();">
<header id="header" class="header">
{{ .Header }}
</header>

<section id="main" class="main">

<span class="title">Partners</span>

<h1>Marine Life Society of South Australia (MLSSA)</h1>

<ul class="nobullet">
  <li><a href="http://mlssa.org.au/" target="_blank">
  <img src="/s/img/logo/mlssa_logo.png"></a>
  <li>Mission: Foster the study of marine life.
  <li>Founded: 1976
  <li>Partner since: 2017
</ul>

<h1>The Nature Conservancy (TNC)</h1>

<ul class="nobullet">
  <li><a href="http://www.natureaustralia.org.au/" target="_blank">
  <img src="/s/img/logo/tnc_au_logo.png"></a>
  <li>Mission: Conserve the lands and waters on which all life depends.
  <li>Founded: 1957
  <li>Partner since: 2018
</ul>

<h1>Estuary Care Foundation (ECF)</h1>

<ul class="nobullet">
  <li><a href="http://www.estuary.org.au/" target="_blank">
  <img src="/s/img/logo/ecf_logo.jpg"></a>
  <li>Mission: Conserve, protect, enhance and promote the ecology of the Port River and Barker Inlet Estuary.
  <li>Founded: 2016
  <li>Partner since: 2018
</ul>

<h1>Kangaroo Island Victor Harbor Dolphin Watch (KIVHDW)</h1>

<ul class="nobullet">
  <li><a href="https://kangarooislanddolphinwatch.com.au/" target="_blank">
  <img src="/s/img/logo/kidw_logo.jpg"></a>
  <li>Mission: Contribute to our knowledge of Cetaceans and protect them and their habitat.
  <li>Founded: 2011
  <li>Partner since: 2019
</ul>

<h1>Carthew Foundation</h1>

<ul class="nobullet">
  <li><img src="/s/img/logo/carthew_logo.jpg">
  <li>Mission: Adelaide-based family foundation with a focus on the future - our children and our environment.
  <li>Founded: 2012
  <li>Partner since: 2020
</ul>

<p>Back to <a href="/support">support</a>.</p>

</section>

<footer id="footer">
  <p>{{ .Footer }}</p>
</footer>

</body>
</html>
