<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <title>Supporters</title>
</head>

<body onload="init();">
<header id="header" class="header">
{{ .Header }}
</header>

<section id="main" class="main">

<span class="title">Supporters</span>

<p>AusOcean gratefully acknowleges the generous support of the
following companies.</p>

<h1>The Startup Shop</h1>

<ul class="nobullet">
  <li><a href="https://www.thestartupshop.com.au/" target="_blank">
  <img src="/s/img/logo/the_startup_shop_logo.jpg"></a>
  <li>An all-inclusive solution to launch and grow your startup.
</ul>

<h1>Knightcorp</h1>

<ul class="nobullet">
  <li><a href="https://www.knightcorp.net.au/" target="_blank">
  <img src="/s/img/logo/knightcorp_logo.png"></a>
  <li>Committed to providing clients with expert and innovative advice to service their insurance needs.
</ul>

<p>Back to <a href="/support">support</a>.</p>

</section>

<footer id="footer">
  <p>{{ .Footer }}</p>
</footer>

</body>
</html>
