<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <title>Smith Bay, Kangaroo Island</title>
</head>

<body>

<section id="main" class="main">

<img src="/s/img/mar/weedy-seadragon.jpg" alt="Weedy Seadragon" class="responsive"><br>

<h1>Smith Bay</h1>

<p>
Over the summer of 2018-2019, AusOcean conducted a series of
expeditions to intensively study Smith Bay on the North Coast of
Kangaroo Island. We found a rich marine environment supporting an
abundance of emblematic and threatened species with high conservation
value. This included numerous large temperate corals and a number of
protected species, including those from the Syngnathidae family, such
as the Weedy Seadragon shown above
</p>

<h2>Proposed port</h2>

<p>
A wood-chip storage facility and port has been proposed for Smith
Bay. This would result in the dredging of up to 200,000 cubic metres
of material and the destruction of approximately 15 Ha of
seafloor. Native species would also likely be adversely impacted by
the introduction of marine pests.
</p>

<h2>Learn more</h2>

<p>
Read our
<a href="/s/doc/2019_AusOcean_Smith_Bay_Marine_Ecology_Report.pdf">
marine ecology report</a> to learn more about Smith Bay's marine
environment.
</p>

<h2>Get involved</h2>

<p>
If you share the view that Smith Bay is worthy of conservation, please
visit
<a href="http://savesmithbay.com.au">Save Smith Bay</a>.
</p>

<h2>About AusOcean</h2>

<p>Learn more about AusOcean at <a href="https://www.ausocean.org/">ausocean.org</a>.</p>

<footer id="footer">
  <p>{{ footer }}</p>
</footer>

</body>
</html>
