@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  overflow-x: hidden;
}
body {
  margin: 0;
  line-height: 1;
  color: black;
  background: white;
  font-family: "Roboto Condensed", sans-serif;
  color: #333333;
  background: white;
  padding-bottom: 20px;
  overflow-x: hidden;
}
footer,
header,
menu,
nav,
section,
article {
  display: block;
}
p,
li,
td,
th,
blockquote,
label,
legend {
  font-size: 22px;
  line-height: 1.3;
}
p.new_font {
  font-size: 17px;
}
p {
  margin-bottom: 8px;
}
blockquote {
  margin-bottom: 30px;
}
h1,
h2,
h3,
h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}
h4 {
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  font-size: 32px;
  margin: 16px 0 16px;
  letter-spacing: 1px;
}
h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  margin: 16px 0 16px;
}
h3 {
  font-size: 20px;
  margin: 12px 0 12px;
}
h4 {
  font-size: 18px;
  margin: 8px 0 8px;
}
h5 {
  font-size: 19px;
  margin: 8px 0 8px;
}
h6 {
  font-size: 16px;
  margin: 8px 0 8px;
}
a {
  color: #0077bb;
  text-decoration: none;
}
a.follow {
  padding-right: 8px;
}
a:hover {
  color: #009933;
}
img.block {
  display: block;
}
img.wrap {
  float: left;
  padding: 0 10px 10px 0;
}
li {
  text-align: left;
  padding: 0 0 0 32px;
}
ul.bullet {
  list-style-type: circle;
  list-style-position: inside;
}
ul.nobullet {
  list-style-type: none;
  padding: none;
}
.table {
  width: 351px;
  background-color: #f2f2f2;
  border: 10px solid #f2f2f2;
}
.border-dark td,
th {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.border-none td,
th {
  border-bottom: none;
  border-top: none;
}
.clear {
  clear: both;
}
.title {
  font-weight: bold;
  font-size: 32px;
  margin: 16px 0 16px;
  color: #2f4f7f;
}
.img {
  text-align: center;
  vertical-align: top;
  font-size: 805;
  font-style: italic;
  margin: 20px;
}
.responsive {
  width: 100%;
  height: auto;
}
.underline {
  text-decoration: underline;
}
.grey-bg {
  background-color: #f2f2f2;
}
.max-width-600 {
  max-width: 600px;
}
.main {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 5px;
  margin: 0 auto;
  display: block;
}
.menubar {
  width: 30px;
  height: 4px;
  background-color: #99aabb;
  margin: 5px 8px;
}
.counter {
  display: inline-block;
  padding: 2px;
}
.time {
  display: inline-block;
  text-align: right;
  background: #0077bb;
  color: white;
  margin-right: 0;
  border-radius: 10px 0 0 10px;
  padding: 4px;
  min-width: 40px;
}
.units {
  display: inline-block;
  text-align: left;
  background: #99aabb;
  color: black;
  margin-left: 0;
  border-radius: 0 10px 10px 0;
  padding: 4px;
  min-width: 40px;
}
.mission {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}
.center {
  margin: 0 auto;
}
.navbar-dark .navbar-nav .nav-link {
  font-weight: normal;
  color: white;
}
.bg-custom {
  background-color: #2f4f7f;
}
.color-custom {
  color: #ffffff;
}
.btn-outline-info {
  color: #fff;
  border-color: #fff;
  background: transparent;
  border-radius: 24px;
  margin-left: 25px;
}
.btn-outline-info:hover {
  background: #fff;
  border-color: #fff;
  color: #126bb0;
}
.btn-outline-info:active {
  background: #fff !important;
  outline: none !important;
  box-shadow: none !important;
}
.btn-outline-info:focus {
  background: #fff !important;
  outline: none;
  box-shadow: none !important;
}
.btn-outline-primary:hover {
  border-color: #126bb0;
}
.btn-outline-primary:hover {
  background-color: #126bb0;
}
.btn-outline-primary {
  border-color: #126bb0;
}
.btn-outline-primary {
  color: #126bb0;
}
.card-text {
  font-size: 15px;
  text-align: left;
}
.card-title {
  text-align: left;
}
.card-deck {
  margin: 16px 0 16px 0;
}
.card:not(.no-hover):hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}
.material-icons {
  color: #126bb0;
  float: left;
  position: relative;
  padding-top: 0;
}
.img-fluid {
  width: 100%;
  height: auto;
}
#main h1 {
  color: #126bb0;
}
#main h2 {
  color: #2f4f7f;
}
#main h3 {
  color: #126bb0;
}
#main h4 {
  color: #126bb0;
}
#main h5 {
  color: #2f4f7f;
}
#main h6 {
  color: #126bb0;
}
#footer {
  clear: both;
  margin-top: 40px;
  padding-top: 15px;
  background-position: 0 -220px;
  background-repeat: repeat-x;
}
#footer p {
  font-size: 14px;
  text-align: center;
  color: grey;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #2f4f7f;
  }
}
@media only screen and (max-width: 768px) {
  .btn-outline-info {
    background: #fff;
  }
}
@media only screen and (max-width: 768px) {
  .btn-outline-info {
    color: #2f4f7f;
  }
}

.dropdown-item {
  color: #ffffff;
}
.navbar {
  z-index: 10;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #126bb0;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30% 0 0 3%;
  color: white;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.overlay h1 {
  font-size: 50px;
  letter-spacing: 3px;
  margin: 0 0 5px;
}
.overlay h2 {
  font-size: 20px !important;
  letter-spacing: 3px;
}
.overlay p {
  font-size: 50px !important;
  letter-spacing: 3px;
  margin: 0 0 5px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 1);
  width: 10%;
}
hr.new {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 1);
  width: 100%;
}

.vid-mobile {
  display: none;
}

@media only screen and (max-width: 750px) {
  #myVideo {
    display: none !important;
  }
  .vid-mobile {
    display: block !important;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("/s/img/wave.png");
  }
}

.bg-overlay {
  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-image: url("/s/img/projects/camera_3.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1500px !important;
  background-position: center center;
  color: white !important;
  height: 500px;
  padding: 206px 15px 200px 15px;
  margin: 0px 0px 50px 0px;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 23px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 23px;
  }
}

@media screen and (min-width: 1500px) {
  .overlay h1 {
    font-size: 80px !important;
  }
}
video {
  width: 100%;
  height: 100%;
  display: flex;
}
.logo-img {
  justify-content: center;
  height: auto;
  display: flex;
  align-items: center;
}

.scaled-logo {
  width: auto; /* Adjusts the width automatically based on aspect ratio */
  max-width: 100px; /* Default max width for mobile */
  max-height: 60px; /* Default max height for mobile */
  display: block; /* Make it a block element */
  margin: 0 auto; /* Center the image horizontally */
}

/* For small devices */
@media (max-width: 575.98px) {
  .scaled-logo {
    max-width: 90px; /* Adjust these values as needed for mobile size */
    max-height: 50px;
  }
}

/* For larger screens */
@media (min-width: 576px) {
  .scaled-logo {
    max-width: 190px; /* Adjust these values for larger screens */
    max-height: 130px;
  }
}
