html {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 40px;
  background-color: #12aafc;
  font-weight: bolder;
}

p {
  font-size: 24;
}

header {
  padding: 0px;
  text-align: center;
}

.scrollFade {
  opacity: 1;
  pointer-events: all;
}

.scrollFade--hidden {
  opacity: 0;
  pointer-events: none;
}

.scrollFade--visible {
  opacity: 1;
  pointer-events: all;
}

.scrollFade--animate {
  transition: opacity 1s ease-in-out;
}

.overlay {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #00001a;
  color: white;
  font-size: 10px;
  z-index: 2;
}