<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <title>Barker Inlet</title>
</head>

<body onload="init();">
<header id="header" class="header">
{{ header }}
</header>

<section id="main" class="main">

<span class="title">Project: Barker Inlet</span>

<h1>Objective</h1>

<p>Monitor seagrass health and water quality in Barker Inlet.
</p>

<h1>Background</h1>

<p>The Barker Inlet is a tidal inlet on the eastern side of Gulf St
Vincent near Adelaide. It contains one of the southernmost mangrove
forests in the world, a dolphin sanctuary, seagrass meadows and is an
important fish and shellfish breeding ground.
</p>

<h1>Status</h1>

<p><a href="https://immanuel.sa.edu.au" target="_blank">Immanuel
College</a> has constructed the rig which is planned for deployment in
August 2019. The project was reported
in <a href="/s/doc/Immanuel_College_students_assist_ocean_research.html">this
story</a>.
</p>

<h1>Partners</h1>

<p>
<a href="http://www.estuary.org.au/" target="_blank"><img src="/s/img/logo/ecf_logo.jpg"></a>&nbsp;
<a href="https://immanuel.sa.edu.au" target="_blank"><img src="/s/img/logo/immanuel_logo.jpg"></a>
</p>

<p><a href="http://dpti.sa.gov.au/news?a=485507" target="_blank">Notice to Mariners</a>.</p>
<p>Back to <a href="/projects">projects</a>.</p>

</section>

<footer id="footer">
  <p>{{ footer }}</p>
</footer>

</body>
</html>
