<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <title>Carrickalinga, Yankalilla Bay</title>
</head>

<body onload="countDays('31 May 2019', 'counter1')">
<header id="header" class="header">
{{ header }}
</header>

<section id="main" class="main">

<span class="title">Project: Carrickalinga, Yankalilla Bay</span>

<h1>Objective</h1>

<p>Monitor seagrass and reef health in Yankalilla Bay.
</p>

<h1>Background</h1>

<p>The township of Carrickalinga lies 75km south of Adelaide on the
shores of Yankalilla Bay on the eastern side of Gulf St Vincent. The
marine environment is characterised by seagrass meadows and
intermittent rocky reefs. While relatively healthy compared to
metropolitan waters, land runoff poses a threat, in particular runoff
from the Carrickalinga Creek.
</p>

<h1>Status</h1>

<p>First deployed on 31 May 2019 but
damaged. <a href="http://yankas.sa.edu.au/">Yankalilla Area School</a>
students have constructed a replacement rig that will be redeployed in October 2020.
</p>

<p>
<div class="counter" id="counter1">Deployed: <span class="time days">00</span><span class="units">days</span></div><br>
<!-- <div class="counter" id="counter2">At sea continuously: <span class="time days">00</span><span class="units">days</span></div><br> -->
<div class="counter" id="counter3">Longest streak: <span class="time days">31</span><span class="units">days</span></div>
</p>

<!-- <p><a class="follow" href="https://www.youtube.com/channel/UCbgaTcL4mOyesTYAF1lpKjA/live"><img src="/s/img/yt_logo_32px.png">Live video stream</a> 11:00-15:00 ACDT (00:30-04:30 UTC).
</p> -->

<h1>Partners</h1>

<p><a href="http://mlssa.org.au/"><img src="/s/img/logo/mlssa_logo.png"></a>&nbsp;
<a href="http://yankas.sa.edu.au/"><img src="/s/img/logo/yas_logo.png"></a>
</p>

<p><iframe width="560" height="315"
	src="https://www.youtube.com/embed/hWKLMBHvfnk"
	frameborder="0" allow="accelerometer; autoplay;
	encrypted-media; gyroscope; picture-in-picture"
	allowfullscreen></iframe>

<p><a href="http://dpti.sa.gov.au/news?a=485507" target="_blank">Notice to Mariners</a>.
</p>

<p>Back to <a href="/projects">projects</a>.</p>

</section>

<footer id="footer">
  <p>{{ footer }}</p>
</footer>

</body>
</html>
