<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <title>Ochre Point</title>
</head>

<body onload="countDays('19 Nov 2019', 'counter1'),countDays('19 Nov 2019', 'counter2');">

<header id="header" class="header">
{{ header }}
</header>

<section id="main" class="main">

<span class="title">Project: Ochre Point</span>

<h1>Objective</h1>

<p>Study abundance of the <em>Ostrea angasi</em> oyster.
</p>

<h1>Background</h1>

<p>The coastal waters of Gulf St Vincent along with most of southern
Australia once contained extensive shellfish reefs comprising the
native Australian flat oyster <em>Ostrea angasi</em>. The reefs were
destroyed during the 19th and early 20th century through over
exploitation. There is evidence however that angasis
persist, albeit as small and fragmented populations.
</p>

<h1>Status</h1>

<p>
<div class="counter" id="counter1">Deployed: <span class="time days">00</span><span class="units">days</span></div><br>
<div class="counter" id="counter2">At sea continuously: <span class="time days">00</span><span class="units">days</span></div><br>
</p>

<p><a class="follow" href="https://www.youtube.com/channel/UC8m50i64R4rq1SNzS8aoLAw/live"><img src="/s/img/yt_logo_32px.png">Live video stream</a> (daylight hours)
</p>

<h1>Partners</h1>

<p>
<a href="http://www.adelaide.edu.au" target="_blank">
<img src="/s/img/logo/adelaide_uni_logo.jpg"></a>
</p>

<p><a href="/s/doc/SA_NtM_No_39_of_2019.pdf" target="_blank">Notice to Mariners (draft)</a>.</p>

<p>Back to <a href="/projects">projects</a>.</p>

</section>

<footer id="footer">
  <p>{{ footer }}</p>
</footer>

</body>
</html>
