<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <title>Port Adelaide</title>
</head>

<body onload="countDays('12 Aug 2019', 'counter1');">
<header id="header" class="header">
{{ header }}
</header>

<section id="main" class="main">

<span class="title">Project: Port Adelaide</span>

<h1>Objective</h1>

<p>Monitor mangrove health and water quality in the Port River.
</p>

<h1>Background</h1>

<p>The Port River (officially the Port Adelaide River) is a tidal
inlet on the eastern side of Gulf St Vincent near Adelaide. It
contains one of the southernmost mangrove forests in the world, a
dolphin sanctuary, seagrass meadows and is an important fish and
shellfish breeding ground.
</p>

<h1>Status</h1>

<p><a href="https://www.portside.sa.edu.au/" target="_blank">Portside Christian College (PCC)</a> constructed Rig #5 which was deployed on 12th August 2019.
</p>

<p>
<div class="counter" id="counter1">Deployed: <span class="time days">00</span><span class="units">days</span></div>
</p>

<h1>Partners</h1>

<p>
<a href="http://www.estuary.org.au/" target="_blank"><img src="/s/img/logo/ecf_logo.jpg"></a>&nbsp;
<a href="https://www.portside.sa.edu.au/" target="_blank"><img src="/s/img/logo/pcc_logo.jpg"></a>
</p>

<div class="img">
<img src="/s/img/rig/20190812_Rig_5_in_Port_River.jpg" alt="Rig #5 in
the Port River" class="responsive"><br> Rig #5 ("Cavan") in the Port
River.</div>

<p>Back to <a href="/projects">projects</a>.</p>

</section>

<footer id="footer">
  <p>{{ footer }}</p>
</footer>

</body>
</html>
