<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <title>Smith Bay</title>
</head>

<body onload="init();">
<header id="header" class="header">
{{ header }}
</header>

<section id="main" class="main">

<span class="title">Project: Smith Bay, Kangaroo Island</span>

<h1>Objectives</h1>

<p>
<ul class="bullet">
<li>Conduct extensive marine life surveys of Smith Bay.
<li>Trial new low-cost underwater camera technology.
<li>Monitor Cetacean actvity.
</ul>
</p>

<h1>Background</h1>


<p>The marine environment of the north coast of Kangaroo Island has
been relatively lightly studied to date. Smith Bay, the site of a
proposed port, is of particular interest as it is frequented by whales
and dolphins, including the endangered southern right whale <em>(Eubalaena australis).</em>
</p>

<p>Smith Bay and indeed, the entire north coast of Kangaroo Island, forms part of
the wider Great Southern Reef (GSR) spanning the entire southern coastline of
the Australian continent. The GSR is one of the most pristine and unique temperate
reefs in the world and has been recognised as <a href="https://mission-blue.org/">
Mission Blue's</a> newest hope spot in recognition of the reefs exquisite,
raw beauty and immensely rich biodiversity. KI is unique in that it sits at the
confluence of two oceanographic systems providing unique habitat that supports
an abundance of marine species, many of which have high conservation value.
From leafy sea dragons, to pods of 100 dolphins and large coral colonies that
have existed for hundreds of years, KI has provided an important refuge for many
vulnerable species whose numbers have declined significantly elsewhere.
</p>

<p>Three marine life surveys of Smith Bay were conducted over the
summer of 2018/2019 culminating in the publication of
the <a href="/s/doc/2019_AusOcean_Smith_Bay_Marine_Ecology_Report.pdf">Smith
Bay Marine Ecology Report</a>.
</p>

<h1>Passive Acoustic Monitoring</h1>

<p>In partnership
with <a href="https://kangarooislanddolphinwatch.com.au/"
target="_blank">Kangaroo Island Victor Harbor Dolphin Watch</a>, we're monitoring Cetacean
activity on the north coast. Whales and dolphins spend most of their time under the
surface of the water communicating through sound which makes visual monitoring
methods on the surface challanging. Through passive acoustic monitoring we can
gain important insights into behaviours, movements and population dynamics of
these incredible creatures.
</p>

<h1>Future Projects</h1>

<p>We plan to deploy a rig with a live-streaming underwater camera
near a rare large temperate coral we discovered in Smith Bay.
</p>

<h1>Partner</h1>

<p>
<a href="https://kangarooislanddolphinwatch.com.au/" target="_blank">
<img src="/s/img/logo/kidw_logo.jpg"></a>
</p>

<p>Back to <a href="/projects">projects</a>.</p>

</section>

<footer id="footer">
  <p>{{ footer }}</p>
</footer>

</body>
</html>
