<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <title>Windara Reef</title>
</head>

<body onload="countDays('25 Jan 2018', 'counter1'),countDays('30 Aug 2019', 'counter2');">
<header id="header" class="header">
{{ header }}
</header>

<section id="main" class="main">

<span class="title">Project: Windara Reef</span>

<h1>Objective</h1>

<p>Monitor the restoration of a shellfish reef.
</p>

<h1>Background</h1>

<p>The coastal waters of Yorke Peninsula in South Australia, indeed
most of southern Australia, once contained extensive shellfish reefs
comprising the native Australian oyster <em>Ostrea angasi</em> and
other shellfish such as <em>Pinna bicolor</em> ("razorfish"). The
reefs were destroyed during the 19th and early 20th century through
over exploitation. Australia's only known remnant angasi
reefs are at the entrance to Georges Bay, near St Helens, Tasmania,
and this location is under threat. The decline of South Australia's
oysters is documented
<a href="https://trove.nla.gov.au/list?id=22566"
target="_blank">here</a>.
</p>

<h1>Opportunities</h1>

<p>Scientific knowledge of <em>Ostrea angasi</em> is still quite
limited, due to their limited remaining natural range. There is still
much to learn about angasi's life cycle, and in particular
their ability to provide bio-filtering and carbon sequestration
services. Answering these questions will create economic opportunities
for so-called <em>blue infrastrucuture</em>, with strong benefits to
regional and remote communities in particular.
</p>

<h1>Challenges</h1>

<p>Windara Reef site lies in open water about 1 nautical mile offshore
and 2 nautical miles from the small community of
<a href="https://www.google.com.au/maps/place/James+Well+SA,+Australia" target="_blank">
James Well</a>, 2 hours from Adelaide. The rig is located in 8m
waters. The site is very exposed to onshore winds with seas of 1m to
2m common. Tides also typically run in the 1m to 2m range. This
requires a mooring system that can accommodate a 50% variation in
water depth that is also capable of withstanding rough sea conditions.
</p>

<h1>Status</h1>

<p>First deployed on 25 Jan 2018, this rig is the longest-serving rig in the fleet.
</p>

<p>
<div class="counter" id="counter1">Deployed: <span class="time days">00</span><span class="units">days</span></div><br>
<div class="counter" id="counter2">At sea continuously: <span class="time days">00</span><span class="units">days</span></div><br>
<div class="counter" id="counter3">Longest streak: <span class="time days">172</span><span class="units">days</span></div>
</p>

</p>
<!--
<p><img src="/s/img/yt_logo_32px.png"><a href="https://www.youtube.com/channel/UCUHOmbNMnTBcl02CqnPgDOw/live">
Live video stream</a> (daylight hours).
</p>
-->

<h1>Partners</h1>

<p>
<a href="http://www.natureaustralia.org.au/" target="_blank">
<img src="/s/img/logo/tnc_au_logo.png"></a>&nbsp;
<a href="http://www.adelaide.edu.au" target="_blank">
<img src="/s/img/logo/adelaide_uni_logo.jpg"></a>
</p>

<div class="img">
<img src="/s/img/rig/20180623_Rig_3_at_Windara_Reef.jpg" alt="Rig #3 at Windara Reef" class="responsive"><br>
Rig #3 at Windara Reef on a calm day.</div>

<p><a href="https://dpti.sa.gov.au/news?a=408138" target="_blank">Notice to Mariners</a>.</p>

<p>Back to <a href="/projects">projects</a>.</p>

</section>

<footer id="footer">
  <p>{{ footer }}</p>
</footer>

</body>
</html>
