<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <title>About AusOcean</title>
</head>

<body onload="init();">
<header id="header" class="header">
{{ .Header }}
</header>

<section id="main" class="main text-justify">
<h1>About AusOcean</h1>
<div class="row">
  <div class="col-lg-3 my-auto">
    <img src="/s/img/headshots/Alan_Noble.png" alt="Alan Noble" class="rounded-circle mx-auto d-block">
  </div>
  <div class="col-lg-9 p-4">
    <h3>Alan Noble</h3>
    <p>AusOcean was founded by Alan Noble in 2017. Alan is an electrical and
    electronics engineer by training who has spent his entire career
    working with computers and software technology, having lived and
    worked on several continents and founded software companies in Silicon
    Valley and Australia. He is passionate about our oceans and spends
    every available moment in or on the water. Alan's goal in founding
    AusOcean is to develop and apply technology for the good of our
    oceans.</p>

    <p>He is a Fellow of <a href="https://www.engineersaustralia.org.au/"
    target="_blank">Engineers Australia</a>. Previously, he was head
    of engineering for Google Australia (11 years), an Adjunct
    Professor in Computer Science
    at <a href="http://www.adelaide.edu.au/" target="_blank">Adelaide
    University</a> (9 years) and a director of
    the <a href="https://www.samuseum.sa.gov.au/"
    target="_blank">South Australian Museum</a> (7 years).

    He also served on several national advisory boards, including
    advising the Chief Scientist of Australia, the Australian
    Information Commissioner and the Government 2.0 Taskforce,
    contributing to
    the <a href="/s/dl/Engage-Report-Gov2-task-force.pdf"
    target="_blank">Engage Report</a>. He was also a founder
    of <a href="https://en.wikipedia.org/wiki/StartupAUS"
    target="_blank">StartupAUS</a> and a contributor to
    the <a href="https://www.asx.com.au/documents/resources/EntrepreneursGuide_REV_5_16.pdf"
    target="_blank">Australian Entrepreneurs Guide</a>.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 my-auto">
    <img src="/s/img/headshots/Sean_Connell.jpg" alt="Sean Connell" class="rounded-circle mx-auto d-block">
  </div>
  <div class="col-lg-9 p-4">
    <h3>Sean Connell</h3>
    <p >Prof. Sean Connell, founding director of AusOcean, is an
    ecologist who discovers how the web of marine life works and
    investigates how humans can intercede to reverse decline.  His work
    improved water quality through regulation, reduced land-derived
    pollution by water recycling, empowered the use of local methods to
    reduce the imprint of climate change and recently seeks solutions for
    the restoration of lost habitat.  Success has been built on his
    joining of scientific-discovery with policy-making; providing global
    leadership to enable society’s aspiration for cost-effective
    enhancement of the web of marine life.</p>

    <p>He is a Professor of Ecology
    at <a href="http://www.adelaide.edu.au/" target="_blank">The University of
    Adelaide</a>, published
    Australia’s <a href="https://global.oup.com/academic/product/marine-ecology-9780195553024" target="_blank">first
    textbook on Marine Ecology</a>, is an editor of the international journal
    "Marine Biology" and recipient of national awards for his contribution
    to ecology.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 my-auto">
    <img src="/s/img/headshots/Sally-Ann.jpg" alt="Sally-ann Williams" class="rounded-circle mx-auto d-block">
  </div>
  <div class="col-lg-9 p-4">
    <h3>Sally-Ann Williams</h3>
    <p>Sally-Ann Williams is the CEO
    of <a href="https://www.cicadainnovations.com/"
    target="_blank">Cicada Innovations</a>, Australia’s pioneering
    deep tech incubator building companies solving the world's most
    pressing problems through science and engineering, nurturing
    hundreds of visionary deep tech innovators to validate,
    commercialise and scale high impact technologies.
    </p>

    <p>Prior to joining Cicada she spent over 12 years at Google as an
    Executive Program Manager on the engineering team leading work on
    R&D collaborations with universities, startup and entrepreneurship
    engagement and pioneering work on CS & STEM education including
    building world first collaborations delivering national
    transformation.
    </p>

    <p>Sally-Ann is an experienced non-executive board member, having
    previously served on the boards of World Vision Australia and
    Fishburners and currently serving on the board of Biz Capital, in
    addition to AusOcean. She is a frequent keynote speaker on topics
    such as Deep Tech, technology transformation, innovation and
    entrepreneurship, inclusion, business development,
    commercialisation and transformation.
    </p>

  </div>
</div>

  <h1 class="text-center">Our Team</h1>
  <div class="row align-items-start">
    <div class="col-sm text-center p-4">
      <img src="/s/img/headshots/Saxon.jpg" alt="Saxon Nelson-Milton" class="rounded-circle">
      <h3>Saxon Nelson-Milton</h3>
      <h4>Contracting Marine Technology Engineer</h4>
      <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/saxon-nelson-milton-a413a2130/" role="button">Linkedin</a>
    </div>
    <div class="col-sm text-center p-4">
      <img src="/s/img/headshots/Cath.jpg" alt="Catherine Larkin" class="rounded-circle mx-auto d-block">
      <h3>Catherine Larkin</h3>
      <h4>Marine Ecologist</h4>
      <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/catherine-larkin-a2947a66/" role="button">Linkedin</a>
    </div>
    <div class="col-sm text-center p-4">
      <img src="/s/img/headshots/Trek.jpg" alt="Trek Hopton" class="rounded-circle mx-auto d-block">
      <h3>Trek Hopton</h3>
      <h4>Head of Technology</h4>
      <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/trek-hopton-a468a2142/" role="button">Linkedin</a>
    </div>
  </div>

  <div class="row align-items-start">
    <div class="col-sm text-center p-4">
      <img src="/s/img/headshots/McKenzie.png" alt="McKenzie Nelson-Milton" class="rounded-circle mx-auto d-block">
      <h3>McKenzie Nelson-Milton</h3>
      <h4>Education Coordinator</h4>
      <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/mckenzie-nelson-milton/" role="button">Linkedin</a>
    </div>
    <div class="col-sm text-center p-4">
      <img src="/s/img/headshots/Breeze.png" alt="Saxon Nelson-Milton" class="rounded-circle">
      <h3>Breeze del West</h3>
      <h4>Ocean Technician</h4>
      <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/breeze-del-west-a55866233/" role="button">Linkedin</a>
    </div>
    <div class="col-sm text-center p-4">
      <img src="/s/img/headshots/David.png" alt="Catherine Larkin" class="rounded-circle mx-auto d-block">
      <h3>David Sutton</h3>
      <h4>Engineer</h4>
      <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/david-a-sutton/" role="button">Linkedin</a>
    </div>
  </div>

  <h1 class="text-center">Vale</h1>
  <div class="row align-items-start">
    <div class="col-sm text-center p-4">
      <img src="/s/img/headshots/Susan_Myers.jpg" alt="Susan Myers" class="rounded-circle">
      <h3>Susan Myers</h3>
      <h4>Cofounder</h4>
      <a class="btn btn-outline-primary" href="https://blog.ausocean.org/2020/02/vale-susan-myers-susie.html" role="button">Vale Susan Myers</a>
    </div>
  </div>
</div>

  <h2>Our logo</h2>
<div class="row">
  <div class="col-lg-3 my-auto">
    <img src="/s/img/logo_blue_250px.png" alt="AusOcean logo" class="mx-auto d-block">
  </div>
  <div class="col-lg-9 p-4">
    <p>The Australian giant cuttlefish, <em>Sepia apama</em>, is the world's
    largest cuttlefish species. Along with their cephalopod cousins
    (squids and octopuses) they are considered to be the most intelligent
    invertebrates. They are also among the most visually striking marine
    species, able to put on spectacular displays using cells known as
    <em>chromatophores</em>. We think we can learn a thing or two from
    cuttlefish.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>In the news</h2>
    <p><a href="/about/news">Recent news</a> about us.</p>
    <h2 class="clear">Contact us</h2>
    <p>inquire@ausocean.org</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 text-center">
    <p><em>"Whatever you can do or dream you can, begin it. Boldness has
    genius, power and magic in it!"</em>, Johann Wolfgang von Goethe.
    </p>
  </div>

</section>

<footer id="footer">
  <p>{{ .Footer }}</p>
</footer>

</body>
</html>
