<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  <title>Blog</title>
</head>

<body onload="init();">
<header id="header" class="header">
{{ .Header }}
</header>

<section id="main" class="main">
  <iframe src ="https://blog.ausocean.org/" width="100%" height="700">
  <p>Your browser does not support iFrames.</p>
  </iframe>
</section>

<footer id="footer">
  <p>Follow us</p>
  <p>
    <a class="follow" href="https://www.instagram.com/ausocean" target="_blank"><img src="/s/img/instagram_logo_32px.png"></a>
    <a class="follow" href="https://twitter.com/ausocean" target="_blank"><img src="/s/img/twitter_logo_32px.png"></a>
    <a class="follow" href="https://www.facebook.com/ausocean" target="_blank"><img src="/s/img/f_logo_32px.png"></a>
    <a class="follow" href="https://blog.ausocean.org" target="_blank"><img src="/s/img/blogger_logo_32px.png"></a>
    <a class="follow" href="https://www.youtube.com/c/AusOcean" target="_blank"><img src="/s/img/yt_logo_32px.png"></a>
    <a class="follow" href="/about/news"><img src="/s/img/news_32px.png"></a>
  </p>
  <p>{{ .Copyright }}</p>
</footer>

</body>
</html>
