<div class="container-fluid">
	<div class="row">
		<div class="col p-0">
			<p>Follow us</p>
			<p>
				<a class="follow" href="https://www.instagram.com/ausocean" target="_blank"><img src="/s/img/instagram_logo_32px.png"></a>
				<a class="follow" href="https://twitter.com/ausocean" target="_blank"><img src="/s/img/twitter_logo_32px.png"></a>
				<a class="follow" href="https://www.facebook.com/ausocean" target="_blank"><img src="/s/img/f_logo_32px.png"></a>
				<a class="follow" href="https://blog.ausocean.org" target="_blank"><img src="/s/img/blogger_logo_32px.png"></a>
				<a class="follow" href="https://www.youtube.com/c/AusOcean" target="_blank"><img src="/s/img/yt_logo_32px.png"></a>
				<a class="follow" href="/about/news"><img src="/s/img/news_32px.png"></a>
			</p>
		</div>
	</div>
</div>