<div class="container-fluid">
	<div class="row">
		<div class="col p-0">
			<nav class="navbar navbar-expand-md navbar-dark bg-custom" width=100%>
				<a class="navbar-brand" href="/">
					<img src="/s/img/AusOcean-logo-white.png" alt="AusOcean logo" height="70">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav ml-auto text-uppercase align-items-center">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/networkblue">Network Blue</a></li>
						<li class="nav-item"><a class="nav-link" href="/technology">Technology</a></li>
						<li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
							<div class="dropdown-menu bg-custom" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/about">About us</a>
								<a class="dropdown-item" href="/jobs">Jobs</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="/store">Store</a></li>
						<div class ml-auto>
							<a class="btn btn-outline-info" href="/support" role="button">Support</a>
						</div>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>