<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">


</head>

<body onload="init();">
  <header id="header" class="header">
{{ .Header }}
  </header>

<div class="video-container">
  <video autoplay="autoplay" muted="muted" loop="loop" id="myVideo">
    <source src="s/img/cover1.mp4" type="video/mp4">
   </video>
</div>

<div class="vid-mobile">
</div>


<div class="overlay">
   <h1>Helping our oceans through<br>
      the use of technology
   </h1>
</div>

<br>
<section id="main" class="main">
  This website has been deprecated.
  Please visit <a href="https://www.ausocean.org">www.ausocean.org</a>.
</section>

  <footer id="footer">
   <p>{{ .Footer }}</p>
</footer>
</body>
</html>
