<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <title>Contact AusOcean</title>
</head>

<body onload="init();">
<header id="header" class="header">
{{ .Header }}
</header>

<section id="main" class="main">

<h1>Intern with AusOcean</h1>

<p class="text-justify">Applications for 2023/2024 summer internships
are now open. This 3-month paid engineering internship runs
from December to February providing real-world, multidisciplinary
learning experiences and counts towards fullfilling engineering degree
requirements. Previous interns have hailed from mechanical
engineering, electronic engineering, computer systems engineering and
computer science. Software skills are essential. Experience with
the <b>Go</b> programming language is a plus, though not required.
</p>

<p>
The program is based at
AusOcean's facility in Willunga, South Australia, with several field
trips planned. Scuba diving a plus.
</p>

<p>
<b>To apply email your CV (résumé), transcript and a cover letter to
jobs@ausocean.org. Applications Close 31/10/2023.</b>
</p>

<p>
<b>Applications without a CV, transcript and cover letter will not be considered.</b>
</p>

<br>

<div class="row">
  <div class="nav flex-column nav-pills col-lg-2" role="tablist">
      <a class="nav-link active" data-toggle="pill" href="#year22">2022/2023</a>
      <a class="nav-link" data-toggle="pill" href="#year21">2021/2022</a>
      <a class="nav-link" data-toggle="pill" href="#year20">2020/2021</a>
      <a class="nav-link" data-toggle="pill" href="#year19">2019/2020</a>
      <a class="nav-link" data-toggle="pill" href="#year18">2018/2019</a>
      <a class="nav-link" data-toggle="pill" href="#year17">2017/2018</a>
  </div>

  <div class="tab-content col-lg-10">
    <div id="year22" class="container tab-pane active"><br>
      <div class="row">
        <div class="col-lg">
          <img src="/s/img/internships/internship_2023.jpg" alt="2022/2023 summer interns" class="img-fluid">
        </div>
      </div>
      <br>
      <p class="text-justify"> Over the summer of 2022/2023 AusOcean was home to 2 interns, from an engineering and mathematics background (Ella and David).
         Each intern has published a report on the AusOcean blog:
        <ul class="bullet">
          <li><a href="https://blog.ausocean.org/2023/04/internship-report-by-ella-di-stasio.html">Ella's report</a>
          <li><a href="https://blog.ausocean.org/2023/02/internship-report-by-david-sutton.html">David's report</a>
        </ul>
      </p>
    </div>

      <div id="year21" class="container tab-pane fade"><br>
        <div class="row">
          <div class="col-lg">
            <img src="/s/img/internships/internship_2022.jpg" alt="2020/2021 summer interns" class="img-fluid">
          </div>
        </div>
        <br>
        <p class="text-justify"> Over the summer of 2021/2022 AusOcean was home to 3 interns, two from an engineering and computer science background (Alex and Russell) and one masters of teaching (McKenzie)
          who helped write material for our school program Network Blue.
           Each intern has published a report on the AusOcean blog:
          <ul class="bullet">
            <li><a href="https://blog.ausocean.org/2022/03/internship-report-by-alex-mastersson.html">Alex's report</a>
            <li><a href="https://blog.ausocean.org/2022/04/internship-report-by-russell-stanley.html">Russell's report</a>
            <li><a href="https://blog.ausocean.org/2022/04/internship-report-by-mckenzie-nelson-milton.html">McKenzie's report</a>
          </ul>
        </p>
      </div>

      <div id="year20" class="container tab-pane fade"><br>
        <div class="row">
          <div class="col-lg">
            <img src="/s/img/internships/internship_2021.jpg" alt="2020/2021 summer interns" class="img-fluid">
          </div>
        </div>
        <br>
        <p class="text-justify"> Over the summer of 2020/2021 AusOcean was home to 2 interns, from an engineering and computer science background.
           Each intern has published a report on the AusOcean blog:
          <ul class="bullet">
            <li><a href="https://blog.ausocean.org/2021/04/internship-report-by-harrison-telford.html">Harrison's report</a>
            <li><a href="https://blog.ausocean.org/2021/10/internship-report-by-alex-arends.html">Alex's report</a>
          </ul>
        </p>
      </div>


    <div id="year19" class="container tab-pane fade"><br>
      <div class="row">
        <div class="col-lg">
          <img src="/s/img/internships/interns_20_eng.jpg" alt="2019/2020 summer interns" class="img-fluid">
        </div>
        <div class="col-lg">
          <img src="/s/img/internships/interns_20_lab.jpg" alt="2019/2020 summer interns" class="img-fluid">
        </div>
      </div>
      <br>
      <p class="text-justify"> Over the summer of 2019/2020 AusOcean was home to 4 interns, forming a diverse
      team spanning electrical/electronic engineering, mechatronics engineering, robotics engineering
      and marine biology. Each intern has published a report on the AusOcean blog:
        <ul class="bullet">
          <li><a href="https://blog.ausocean.org/2020/05/internship-report-by-ella-pietraroia.html">Ella's report</a>
          <li><a href="https://blog.ausocean.org/2020/05/internship-report-by-frank-cui.html">Franks's report</a>
          <li><a href="https://blog.ausocean.org/2020/04/internship-report-by-scott-barnard.html">Scott's report</a>
            <li><a href="https://blog.ausocean.org/2020/07/internship-report-by-lachie-mcleod.html">Lachie's report</a>
        </ul>
      </p>
    </div>

    <div id="year18" class="container tab-pane fade"><br>
      <img src="/s/img/internships/20190221_AusOcean_crew.jpg" alt="2018/2019 summer interns" class="responsive"><br>
      <br>
      <p class="text-justify">
      Over the summer of 2018/2019 AusOcean was again home to 3 interns,
      forming a multidisciplinary team spanning computer science (Trek, far
      left) electrical/electronic engineering and computer science (Emily,
      2nd from left), and marine biology (Catherine, 2nd from right). Each
      intern has published a report on the AusOcean blog:
      <ul class="bullet">
        <li><a href="https://blog.ausocean.org/2019/03/internship-report-by-emily-braggs.html">Emily's report</a>
        <li><a href="https://blog.ausocean.org/2019/03/internship-report-by-trek-hopton.html">Trek's report</a>
        <li><a href="https://blog.ausocean.org/2019/03/internship-report-by-catherine-larkin.html">Catherine's report</a>
      </ul>
      </p>
    </div>

    <div id="year17" class="container tab-pane fade"><br>
      <img src="/s/img/internships/20180125_AusOcean_interns.jpg" alt="2017/2018 summer interns" class="responsive"><br>
      <br>
      <p class="text-justify">The 2017/2018 internship involved designing and building the
      infrastructure for an underwater sensor network. Data (including video
      and audio) collected from surface and seafloor-mounted devices was
      transmitted via a shore-to-sea communications link and from there was
      streamed to the cloud for storage and analysis. Interns comprised a
      multidisciplinary team spanning mechanical engineering, electronic
      engineering, computer science and marine biology. As a bonus, there
      were several boat and diving trips.</p>
    </div>
  </div>
</div>

<h1>Volunteer with AusOcean</h1>

<p class="text-justify">If you would like to volunteer with AusOcean, email us with the
subject "AusOcean volunteer" to jobs(at)ausocean.org. Please include a short note about why
you'd like to get involved.</p>

</section>

<footer id="footer">
  <p>{{ .Footer }}</p>
</footer>

</body>
</html>
