<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <title>AusOcean Licenses</title>
</head>

<body onload="init();">
<header id="header" class="header">
{{ .Header }}
</header>

<section id="main" class="main">

<h1>Our licenses</h1>

<p>At AusOcean, we believe in fair, open and permissive licensing.
</p>

<p>
AusOcean software and hardware designs are licensed under
the <a rel="license" href="http://www.gnu.org/licenses/gpl.html">GNU
General Public License</a>.
</p>

<p>
Content produced by AusOcean, whether by our people or our software,
is licensed under a <a rel="license"
href="http://creativecommons.org/licenses/by/3.0/au/">Creative Commons
Attribution 3.0 Australia License</a>. This applies to, but is not
limited to, video and audio content. See also
the <a href="/license/content2019">2019 content license</a>.
</p>

</ul>
</p>

</section>

<footer id="footer">
  <p>{{ .Footer }}</p>
</footer>

</body>
</html>
