<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <title>Network Blue: Revolutionising Ocean Science Through Citizen-Driven STEM
  Education</title>
</head>

<body onload="init();">
<header id="header" class="header">
{{ .Header }}
</header>

<section id="main" class="main">

<div class="row justify-content-between p-3">
  <span class="title">Network Blue School Program</span>
  <a class="btn btn-outline-primary h-25 my-auto jus" href="#eoi" role="button">Get in Touch</a>
<p>
  At Network Blue, we're not just teaching ocean science; we're
  reshaping its future. By leveraging affordable and innovative
  technology, we're democratising the study of our oceans, making it
  accessible to everyone. This is where the enthusiasm of the Maker
  Movement seamlessly blends with the intricate world of ocean science.
</p>
</div>
<br>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/s/img/projects/networkblue_1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/s/img/projects/networkblue_2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/s/img/projects/networkblue_3.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/s/img/projects/networkblue_3.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/s/img/projects/networkblue_4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/s/img/projects/networkblue_5.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/s/img/projects/networkblue_6.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/s/img/projects/networkblue_7.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/s/img/projects/networkblue_8.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/s/img/projects/networkblue_9.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/s/img/projects/networkblue_10.png" class="d-block w-100" alt="...">
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br>
<h1>Our Program</h1>
<p>
  Our students actively participate in building, deploying, and monitoring
  an AusOcean <a href="/s/doc/rig.html">"Rig"</a>. This hands-on
  experience helps them cultivate a multitude of skills, from mastering
  technical aspects to honing communication and teamwork. Unlike
  traditional student competitions, the ultimate winner with Network Blue
  is our invaluable ocean environment. We champion a collaborative spirit,
  encouraging schools to collaborate, share insights, and combine
  resources.
</p>
<h1>Beyond STEM</h1>
<p>
  Network Blue's reach goes beyond conventional STEM programs. While we
  seamlessly integrate with school curriculums, our appeal is widespread.
  Students delve into outdoor education, engage in water sports,
  initiate community projects, and even venture into entrepreneurship. A
  world of non-technical learning awaits every student. Dive in with our
  interactive Network Blue School STEM Program today.
</p>
<h1>Our Digital Edge</h1>
<p>
  Stay connected with the pulse of our projects in real-time. Our
  state-of-the-art Remote Monitoring and Management (RMM) system, fueled
  by AusOcean's
  <a href="https://vidgrind.ausocean.org/" target="_blank">VidGrind cloud service</a>, offers instantaneous insights into rig performance. This ensures
  swift interventions and constant optimisations, keeping our projects at
  the pinnacle of efficiency. Students direct their own learning via our
  online learning platform
  <a href="https://networkblue.ausocean.org/" target="_blank">
    Network Blue School STEM Program.
  </a>
</p>
<br>
<p>We are opening the program to more schools in 2024.
Please contacts us at networkblue@ausocean.org for more information.
</p>
<hr>
<div id="eoi" class="card col-sm-5 m-auto p-3 no-hover">
  <h2>Expression of Interest</h2>
  <p>Want to get involved with Network Blue? Fill in your details below and get in contact now!</p>
  <form action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSek7XGy0RZr3WgWEorpUPzfLSDQBIFzSeaCKZNR2lzNDfLJnA/formResponse" method="post" target="blank" style="margin-top: 10px;">
    <div class="form-group">
      <label for="form-name">Enter Name</label>
      <input type="text" class="form-control" id="form-name" name="entry.1225509202" placeholder="John Appleseed" required>
    </div>
    <div class="form-group">
      <label for="form-school">School Name</label>
      <input type="text" class="form-control" id="form-school" name="entry.212615152" placeholder="East Side High" required>
    </div>
    <div class="form-group">
      <label for="form-email">Email Address</label>
      <input type="email" class="form-control" id="form-email" name="entry.1659263599" placeholder="john@ausocean.org" required>
    </div>
    <div class="form-group">
      <label for="form-msg">Why are you interested?</label>
      <input type="text" class="form-control" id="form-msg" name="entry.1482584260" placeholder="Tell us more...">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<h1 class="text-center">Our Partners</h1>

<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-6 col-md-2 p-4">
      <a href="https://immanuel.sa.edu.au" target="_blank">
        <img src="/s/img/logo/immanuel_logo.jpg" class="scaled-logo" />
      </a>
    </div>
    <div class="col-6 col-md-2 p-4">
      <a href="https://www.estuary.org.au/" target="_blank">
        <img src="/s/img/logo/ecf_logo.jpg" class="scaled-logo" />
      </a>
    </div>
    <div class="col-6 col-md-2 p-4">
      <a href="https://www.whyalla.com/" target="_blank">
        <img src="/s/img/logo/whyalla_logo.jpg" class="scaled-logo" />
      </a>
    </div>
    <div class="col-6 col-md-2 p-4">
      <a href="https://wsc.sa.edu.au/" target="_blank">
        <img src="/s/img/logo/whyalla_secondary_logo.png" class="scaled-logo" />
      </a>
    </div>
    <div class="col-6 col-md-2 p-4">
      <a href="https://www.mghs.sa.edu.au/html/home.html" target="_blank">
        <img src="/s/img/logo/mghs_logo.png" class="scaled-logo" />
      </a>
    </div>
    <div class="col-6 col-md-2 p-4">
      <a href="https://www.portside.sa.edu.au/" target="_blank">
        <img src="/s/img/logo/pcc_logo.jpg" class="scaled-logo" />
      </a>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-6 col-md-2 p-4">
      <a href="https://www.adelaide.edu.au/" target="_blank">
        <img src="/s/img/logo/uoa_logo.png" class="scaled-logo" />
      </a>
    </div>
    <div class="col-6 col-md-2 p-4">
      <a href="https://narooma-h.schools.nsw.gov.au/" target="_blank">
        <img src="/s/img/logo/narooma_logo.png" class="scaled-logo" />
      </a>
    </div>
    <div class="col-6 col-md-2 p-4">
      <a href="https://www.stjohns.sa.edu.au/" target="_blank">
        <img src="/s/img/logo/stjohns_logo.jpg" class="scaled-logo" />
      </a>
    </div>
    <div class="col-6 col-md-2 p-4">
      <a href="https://goolwasecondarycollege.sa.edu.au/" target="_blank">
        <img src="/s/img/logo/goolwa_logo.jpg" class="scaled-logo" />
      </a>
    </div>
    <div class="col-6 col-md-2 p-4">
      <a href="https://www.kice.sa.edu.au/" target="_blank">
        <img src="/s/img/logo/ki_logo.jfif" class="scaled-logo" />
      </a>
    </div>
    <div class="col-6 col-md-2 p-4">
      <a href="https://www.hhs.sa.edu.au/" target="_blank">
        <img src="/s/img/logo/heathfield_logo.jpg" class="scaled-logo" />
      </a>
    </div>

    <div class="row align-items-center">
      <div class="col-6 col-md-2 mx-auto p-4">
        <a href="https://asms.sa.edu.au/" target="_blank">
          <img src="/s/img/logo/asms_logo.png" class="scaled-logo" />
        </a>
      </div>
      <div class="col-6 col-md-2 mx-auto p-4">
        <a href="https://www.landscape.sa.gov.au/ki/about-us/ki-landscape-board" target="_blank">
          <img src="/s/img/logo/ki_landscape_logo.png" class="scaled-logo" />
        </a>
      </div>
      <div class="col-6 col-md-2 mx-auto p-4">
        <a href="https://www.encounter.sa.edu.au/" target="_blank">
          <img src="/s/img/logo/encounter_logo.png" class="scaled-logo" />
        </a>
      </div>
      <div class="col-6 col-md-2 mx-auto p-4">
        <a href="https://www.hills.sa.edu.au/" target="_blank">
          <img src="/s/img/logo/hills_logo.png" class="scaled-logo" />
        </a>
      </div>
    </div>
  </div>
</div>

</section>

<footer id="footer">
  <p>{{ .Footer }}</p>
</footer>

</body>
</html>
