<!DOCTYPE html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <title>AusOcean Projects</title>
</head>

<body onload="init();">
<header id="header" class="header">
{{ .Header }}
</header>

<section id="main" class="main text-justify">
  <div class="container">
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 text-center">
    <blockquote><h1>"Technology can, and should, be used as a force for good".</h1>
    <footer>— Alan Noble, Founder</footer></blockquote>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 text-xs-center my-auto">
    <p>Scientific knowledge of ocean environments
    is sparse and intermittent, constrained by the high equipment and access
    costs of working in the marine environment. Furthermore, knowledge
    dissemination suffers from the long lead times of scientific publishing
    and lack of open access. With a strong focus on southern Australia, we partner with not-for-profit organisations
    and researchers to solve technical problems relating to marine habitat
    monitoring and habitat restoration.</p>
  </div>
</div>
<h1 style="text-align: center">PROJECTS</h1>
  <div class="row">
    <div class="col-lg-6 my-auto">
      <img src="/s/img/projects/Networkblue.jpg" alt="Network Blue" class=" responsive rounded mx-auto d-block">
    </div>
    <div class="col-lg-6 p-4">
      <h5>Network Blue School Program</h5>
      <p class="new_font">Our student-led citizen science program, <em>Network Blue</em>,
      provides a platform for students to be the providers of knowledge
      and drivers for change. Now more than ever the oceans need our help.
      By bringing marine science into the classroom students can be excited
      about the opportunities in STEM and passionate about taking a proactive
      approach to marine science issues. Integrated approaches are needed to
      create connections between school STEM projects and relevant real-world
      contexts in which skills can be developed.</p>
      <br>
      <a class="btn btn-outline-primary stretched-link" href="projects/networkblue"
      role="button">Learn more</a>
    </div>
  </div>
  <div class="row">
    <div class="card-deck">
      <div class="card mb-3">
        <a href="projects/ochrepoint">
          <img class="card-img-top" src="/s/img/projects/Ochrepoint.jpg" alt="Oyster Reef">
        </a>
        <div class="card-body">
          <h5 class="card-title">Oyster Reef Habitat Restoration</h5>
          <i class="material-icons">place</i>
          <h6>Ochre Point</h6>
          <p class="card-text">In partnership with <a href="http://www.adelaide.edu.au">The
          University of Adelaide</a>, we are studying abundance and distribution of
          the native <em>Ostrea angasi </em> oyster.</p>
        </div>
      </div>
      <div class="card mb-3">
        <a href="projects/smithbay">
          <img class="card-img-top" src="/s/img/projects/Kivhdolphinwatch.jpg" alt="KIVH Dolphin Watch">
        </a>
        <div class="card-body">
          <h5 class="card-title">Passive Acoustic Cetacean Monitoring</h5>
          <i class="material-icons">place</i>
          <h6>Kangaroo Island</h6>
          <p class="card-text">In partnership with <a href="https://kangarooislanddolphinwatch.com.au/"
          target="_blank">Kangaroo Island Victor Harbor Dolphin Watch</a>
          we’re monitoring cetacean activity.  The north coast waters are
          frequented by whales and dolphins, including the endangered
          southern right whale <em>(Eubalaena australis)</em>.</p>
        </div>
      </div>
      <div class="card mb-3">
        <a href="projects/windarareef">
          <img class="card-img-top" src="/s/img/projects/Windara.jpg" alt="Windara">
        </a>
        <div class="card-body">
          <h5 class="card-title">Underwater Sensor Network</h5>
          <i class="material-icons">place</i>
          <h6>Yorke Peninsula</h6>
          <p class="card-text">In partnership
          with <a href="http://www.adelaide.edu.au">The University of
          Adelaide</a> and
          <a href="http://www.natureaustralia.org.au/" target="_blank">The
          Nature Conservancy (TNC) Australia</a>, we are designing and
          building an underwater sensor network to monitor <em>Windara
          Reef</em>, the largest shellfish reef restoration project in the Southern
          Hemisphere.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-deck">
      <div class="card mb-3">
        <a href="projects/carrickalinga">
          <img class="card-img-top" src="/s/img/projects/Carrickalinga.jpg" alt="Carrickalinga">
        </a>
        <div class="card-body">
          <h5 class="card-title">Reef and Seagrass Health</h5>
          <i class="material-icons">place</i>
          <h6>Carrickalinga, Yankalilla Bay</h6>
          <p class="card-text"> In partnership with
          <a href="http://mlssa.org.au/" target="_blank">Marine Life Society of
          SA</a>, we are monitoring reef and seagrass health in Yankalilla Bay with
          low-cost underwater video technology.</p>
        </div>
      </div>
      <div class="card mb-3">
        <a href="projects/smithbay">
          <img class="card-img-top" src="/s/img/projects/Smithbay.jpg" alt="Smith Bay">
        </a>
        <div class="card-body">
          <h5 class="card-title">Marine Life Surveys</h5>
          <i class="material-icons">place</i>
          <h6>Smith Bay, Kangaroo Island</h6>
          <p class="card-text">We conducted the first-ever comprehensive
          marine life survey of Smith Bay, the site of a proposed deep-sea port.</p>
        </div>
      </div>
      <div class="card mb-3">
        <a href="projects/portadelaide">
          <img class="card-img-top stretched-link" src="/s/img/projects/Portadelaide.jpg" alt="Port Adelaide">
        </a>
        <div class="card-body">
          <h5 class="card-title">Mangrove Health & Water Quality</h5>
          <i class="material-icons">place</i>
          <h6>Port Adelaide & Barker Inlet</h6>
          <p class="card-text">In partnership with
          <a href="http://www.estuary.org.au/" target="_blank">Estuary Care
          Foundation</a> and <a href="https://www.portside.sa.edu.au/" target="_blank">Portside Christian College
          </a>we are monitoring mangrove health and water quality.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h5>Accelerating the Recovery of Oyster Reef Habitat
      with Low-cost Speaker Technology</h5>
      <p class="new_font">Shellfish reefs dominated by the native <em>Ostrea angasi</em> flat oyster
      were once commonplace in South Australia’s gulfs and bays.
      These productive and biodiverse systems were destroyed
      during the 19th and early 20th century through over exploitation.
      <br>
      <br>
      To assist restoration efforts we're developing and deploying low-cost
      speaker technology for continuous immersion onto restored reef substrate.
      Can amplifying the soundscape of a healthy reef in a degraded or
      "quiet" habitat influence oyster settlement patterns? We’re hoping our
      tech can help answer this question.</p>
      <br>
      <a class="btn btn-outline-primary" href="https://blog.ausocean.org/2020/06/how-the-sounds-of-the-ocean-help-oysters-select-their-home.html"
      role="button">Read more</a>
    </div>
    <div class="col-lg-6 my-auto">
      <img src="/s/img/projects/Sound.png" alt="Sound Experiment" class=" responsive rounded mx-auto d-block">
    </div>
  </div>
  <h1>Rig Locations</h1>
  <div class="row">
    <div class="col-lg">
      <div class="embed-responsive embed-responsive-4by3">
        <div id="map-container" class="embed-responsive-item">
          <div id="map">
            <iframe src="https://www.google.com.au/maps/d/u/0/embed?mid=1nLXHG2e5h2pSoOpSaOmdHAh-cHM9v-sf"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>Reports</h1>
    <a href="/s/doc/AusOcean_Addendum_to_the_Smith_Bay_Wharf_Draft_EIS_Response.pdf">Addendum to the Smith Bay Wharf Draft EIS Response</a>, 20 Dec 2019
      <a href="https://docs.google.com/document/d/e/2PACX-1vR7BuObnh7cdcKa3b7rVGsKfjKD_-FX1bH28NapYR2eXGlv1t4ppjwYQk8A2mhPtz9U2-zLr4NmXy7H/pub">
      <img src="/s/img/google_doc_16px.png"></a></p>
    <a href="/s/doc/AusOcean_Smith_Bay_EIS_response.pdf">Smith Bay Wharf EIS Response</a>, 28 May 2019
      <a href="https://docs.google.com/document/d/e/2PACX-1vS2rXrQQW3C8LB8JKh37zgIUyaOo5NWKQKQ-iBRyZW3nrWRqDDxFE3m_7RO3za-wQbEjPXXt9uafLN_/pub">
      <img src="/s/img/google_doc_16px.png"></a></p>
    <a href="/s/doc/2019_AusOcean_Smith_Bay_Marine_Ecology_Report.pdf">Smith Bay Marine Ecology Report</a>, C. Larkin, April 2019
  </ul>
  <h1>Future projects</h1>
  <p>AusOcean is interested in learning about new projects.
    Please contact us if you believe you have a project of interest or are
    interested in learning about Network Blue.</p>
</div>
</section>

<footer id="footer">
  <p>{{ .Footer }}</p>
</footer>

</body>
</html>
