<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css" />
  <script src="s/store-elements.js" type="module"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  <title>AusOcean Store</title>
</head>
<body onload="init();">
  <header id="header" class="header">
    {{ .HTMLData.Header }}
  </header>
  <section id="main" class="main text-justify">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8 text-center">
        <h1>STORE</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8 my-auto">
        <p>AusOcean believes in open source development and access to meaningful technology.
          The AusOcean store is here to help provide this technology for schools and individuals
          to use for educational, scientific, or personal projects.<br>
          All prices are in $AUD, inclusive of GST. Shipping is not included.<br>
          To make an order email: <a href="mailto: sales@ausocean.org">sales@ausocean.org</a> <br>
          Ask about our educational discount!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8 my-auto">
        {{ range .Products }}
        <ausocean-product src="{{ .Link }}" name="{{ .Id }}" price="{{ .Price }}" {{ if .ComingSoon }}soon="true"{{ end }}>
          {{ .Info }}
          <div class="popout">
            {{ range .Highlights }}
            <li>{{.}}</li>
            {{ end }}
          </div>
        </ausocean-product>
        {{ end }}
      </div>
    </div>
  </section>
  <footer id="footer">
    <p>{{ .HTMLData.Footer }}</p>
  </footer>
</body>
</html>