<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  
  <title>Support AusOcean</title>
</head>

<body onload="init();">
<header id="header" class="header">
{{ .Header }}
</header>

<section id="main" class="main text-justify">
<h1>How you can help</h1>

<div class="row">
  <div class="col">
    <h2>Donate</h2>
    <p>AusOcean is
    a <a href="https://www.acnc.gov.au/charity/charities/e1008472-afda-e911-a813-000d3ad1f9f4/profile">registered
    charity</a> with the Australian Charities and Not-for-profits
    Commission (ACNC). Donations to AusOcean are tax deductible in
    Australia.</p>

    <p>For Australian bank account holders, the best way to donate is
    via electronic funds transfer (EFT). Please
    email <a href="maito:donate@ausocean.org">donate@ausocean.org</a>
    for details and a tax receipt (EFT only).</p>

    <p>We also accept PayPal.
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="S8A64GHGQKC5G" />
            <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1" />
            </form>
    </p>

  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Workplace Giving</h2>
    <p>AusOcean is registered with workplace giving platforms <a href="https://www.benevity.com/">Benevity</a> and
    <a href="https://good2give.ngo/">Good2Give</a>.</p>

    <p>Workplace giving is a simple and effective way for you to regularly donate to us through your employer’s payroll system.
    Individuals contribute a small portion of their pre-tax salary to AusOcean and receive the tax benefit straight away
    rather than waiting until the end of financial year. This is the easiest way to give with no need to worry about
    collecting receipts throughout the year.</p>
    <p>Workplace giving connects us with passionate companies and individuals whose values align with our cause.
    Become part of a community working to help preserve and enhance our oceans for generations to come.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Partner</h2>
    <p>AusOcean is seeking <a href="/support/partners">partners</a>.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Support</h2>
    <p>AusOcean welcomes offers of support. See our <a href="/support/supporters">supporters</a>.</p>
  </div>
</div>
</div>
</section>

<footer id="footer">
  <p>{{ .Footer }}</p>
</footer>

</body>
</html>
