<!DOCTYPE html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css" />
  <script src="/s/ao.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <title>AusOcean technology</title>
</head>

<body onload="init();">
  <header id="header" class="header">
    {{ .Header }}
  </header>

  <section id="main" class="main text-justify">

    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8 text-center">
        <h1>TECHNOLOGY</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8 my-auto">
        <p>A core belief of our operations is the development of open-source
          technologies that contribute to scientific inquiry and the development of
          our understanding of the oceans. Open source technologies are revolutionising
          our ability to discover; as science becomes more accessible, the power to ignite
          change lies within all of us. Open source
          approaches to tackling environmental issues means embracing collaborative
          tools and workflows which enables processes and progress to be fully transparent.
          A critical aspect of working open is sharing data not only with your immediate
          team but with others across the world who can learn, adapt and contribute to
          collective research.</p>
      </div>
    </div>
    <h2>Hardware</h2>
    <div class="row">
      <div class="col-lg-4 my-auto p-3">
        <img src="/s/img/rig/ausocean_rig.jpg" alt="Rig" class="img-fluid rounded mx-auto d-block">
      </div>
      <div class="col-lg-8 p-4">
        <h5>Rig</h5>
        </p>The AusOcean "rig" is a low-cost sea surface platform for supporting
        ocean science in coastal waters. The rig is a custom pontoon design in a
        light-weight modular construction. Rigs are designed for long term deployments
        with flexible support for multiple sensors.
        </p>
        <a href="https://docs.google.com/document/d/e/2PACX-1vT6uoUuzZYrx7MUamo7hjr63FAS8YjyntPhlHFzassHCHK-uUGJDSmm2f7NbHgeXbRUH1hyPxVkwDXL/pub">Rig Complete Guide</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto p-3">
        <img src="/s/img/technology/camera.png" alt="Camera" class="img-fluid rounded mx-auto d-block">
      </div>
      <div class="col-lg-8 p-4">
        <h5>Fluid-filled Pressure-compensating Underwater Camera (FPUC)</h5>
        </p>The AusOcean FPUC is a low-cost Internet Protocol (IP) digital video camera designed for
        continuous water immersion, tested to 20m(65’). Unlike most consumer video cameras, the FPUC
        is designed for continuous streaming of video data. Using raspberry pi electronics and a PVC
        housing, this unit can be built for a fraction of the cost of commercially available long term
        underwater cameras. Coupled with clever motion detection algorithms, this camera can be used for vegetation health monitoring,
        species counts, species identification, behaviour research and turbidity monitoring through computer vision.
        </p>
        <a href="https://docs.google.com/document/d/e/2PACX-1vQrmhSSHsDhwMR2azu92dtreqJcMkNHjcVkJXD-iIB2k660pnCTJKBLFUY6d_Kat4gTmavOwu7b6nHx/pub">FPUC Guide</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <img src="/s/img/technology/speaker.png" alt="Speaker" class="img-fluid rounded mx-auto d-block">
      </div>
      <div class="col-lg-8 p-4">
        <h5>Underwater Speaker</h5>
        </p>AusOcean speakers are utilised for audio playback underwater,
        typically at areas directly below the supporting rig. The speakers
        are considered a peripheral therefore, are powered and controlled by
        the on board controller. The rig acts as a base to provide sufficient
        power for indefinite operation or until the end of a data collection
        period. Underwater speakers have recently been used to play healthy reef
        sounds to promote oyster larvae recruitment and have potential for other
        “reef treatment” applications to accelerate habitat recovery.
        </p>
        <a href="https://docs.google.com/document/d/e/2PACX-1vSYOR89yEhcIdwnz1_DZvhBhXF5wndpN8xMml7oEwZPhMarxvZ3jgsmuOVQpDgBjN3Q5iUPgcvEJab2/pub">Underwater Speaker Guide</a>
      </div>
    </div>
    <!--
<div class="row">
  <div class="col-lg-4 my-auto">
    <img src="/s/img/technology/scusu.png" alt="Self Contained Underwater Speaker Unit" class="img-fluid rounded mx-auto d-block">
  </div>
  <div class="col-lg-8 p-4">
    <h5>Self Contained Underwater Speaker Unit (SCUSU)</h5>
    </p>The SCUSU uses a surface transducer mounted on the inside of a pressure
    compensating water-tight PVC housing to project sound omnidirectionally
    for underwater sound treatment applications. This unit has been developed
    in partnership with researchers at the  <a href="http://www.adelaide.edu.au">The
    University of Adelaide</a> for applications in oyster reef habitat restoration.
    This unit is intended for use in large scale reef treatment applications
    where repeatability is required.
    </p>
    <a href="https://docs.google.com/document/d/e/2PACX-1vSQl0Pq92z1d73Uw0TK82t3H6rSikm4KOqDOeooyBD780oPMGYF8C1J0vkVTZtI1BeCVd9HBSpXJM0B/pub">Self Contained Underwater Speaker Unit (SCUSU) Guide</a>
  </div>
</div>
-->

    <div class="row">
      <div class="col-lg-4 my-auto">
        <img src="/s/img/technology/circutboard.jpg" alt="Circut Board" class="img-fluid mx-auto d-block">
      </div>
      <div class="col-lg-8 p-4">
        <h5>Rig Controller PCB</h5>
        </p>The custom PCB controller board interfaces rig systems and sensor/actuator
        peripherals with an Adafruit HUZZAH ESP8266 microcontroller. This controller
        monitors battery voltage, reads sensors, controls nav light sequencing and
        actuates power to peripherals such as underwater cameras and reef treatment
        speakers. With WiFi connectivity, the controller may be operated and
        monitored remotely using AusOcean’s free cloud services: <a href="https://netreceiver.appspot.com/">NetReceiver</a>
        and <a href="https://vidgrind.ausocean.org/">vidgrind</a>. The fully assembled controller board is enclosed in a plastic housing
        that is inserted into the centre of the mast tube.
        </p>
        <a href="https://docs.google.com/document/u/1/d/e/2PACX-1vRCdzQS2VagPR1mEZ926xScjm2EztMStrT_krMExcCb3dQxNO15QOb0MEdRvHoX64N5OMiv0hDrvLfH/pub">Rig PCB Controller Board Guide</a>
      </div>
    </div>
    <h2>Software</h2>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <img src="/s/img/technology/motiondetection.png" alt="" class="img-fluid rounded mx-auto d-block">
      </div>
      <div class="col-lg-8 p-4">
        <h5>Revid</h5>
        </p>RV is a driver program that is run on our FPUC cameras to collect and
        push video data to the cloud. Our low-cost underwater cameras are designed
        to remain at sea for months at a time, live-streaming footage to the cloud.
        A downfall of acquiring such large amounts of video data is that much of what
        we collect doesn't contain anything of interest i.e. when analysing footage
        we are only interested in frames that contain fish or other species of interest.
        RV can utilise motion detection algorithms to significantly reduce the amount
        of video data we send to the cloud (reducing data upload), whilst also reducing
        the data that needs to be analysed. In other words, we’re training software to
        do what humans do, analyse the footage, pick out anything of interest and discard the rest.
        </p>
        <a href="https://docs.google.com/document/u/1/d/e/2PACX-1vT19f-_EFC5VaWwXF-ejDOv2dagXZvAsLLjytZgjjlwwxdH19m7N9h9SWkumIPcuRkdToMOlNWqp4hs/pub">RV Software Guide</a>
      </div>
    </div>

    <h2>Additional Guides</h2>

    <ul class="nobullet">
      <li><a href="https://docs.google.com/document/d/e/2PACX-1vQAcQJZihbKWe_yRvJKlOMj0mi3Wy9P6h16YAVhZqm_nhzYFB3P2ajL7xUiQFoIqz5F9UJ46HqXExOD/pub">Rig Platform Assembly Guide</a>
      <li><a href="https://docs.google.com/document/d/e/2PACX-1vQJE2AO4D1C0MDdCL6_9Wm27EsdsMQ4ns1w3xvQ7fjk5p3U9x3J2gplG4xQ8bKSOQxgXryzuuntI9K5/pub">Rig Protoboard Controller Board Guide</a>
      <li><a href="https://docs.google.com/document/u/1/d/e/2PACX-1vQNN2v-U4Vgu0C-Pv2EDVKgn4CGESVnoxxxEbjoZcdzlBL9C521j5U0Hr45xKghe9fXI4y-TZ-w9pyb/pub">Rig Electrical Systems Guide</a>
      <li><a href="https://docs.google.com/document/d/e/2PACX-1vR5Vu9NhEeiTJb0_kn5AJ367mtDYoCZKz8biPUKxQq3ucCi20OP2VrpxhXxqBfIbJqxJoQ_m6Lee2fa/pub">Rig Cloud Configuration Guide</a>
      <li><a href="https://docs.google.com/document/d/e/2PACX-1vRqQIPOHH9Q18hHWQJ0971zuiBRLAy5H5U1HdizN2ARuraM3MbnjKIv50DBLMeEJui2q4v0d_032ydJ/pub">Underwater Camera Assembly Guide: Hard Shell (obsolete)</a>
      <li><a href="https://docs.google.com/document/d/e/2PACX-1vRfrH8FdkYHch-nxhh3TanyjHYeFiv7UOYabNafSfBjkw0y6g8vPMm1Dm-Q3w7O-HBfgbNDuJErzvle/pub">Pressure Vessel Guide</a>
      <li><a href="https://docs.google.com/document/d/e/2PACX-1vSlcteCpb-lYfiQOk_pjahrrwwDvLk1-ChXrj0L_AFnKj_TfRj5LQG9eN9RzBwGzrMy1HzrI5VfzfG8/pub">Screw Pile Installation Guide</a>
      <li><a href="https://docs.google.com/document/u/1/d/e/2PACX-1vQvrsQ9fB4xHkCwiwHhkiJvi2QickGg1BWeo-IR1DynIDBNWxVnMzqU6uBELp8HJcnu_bg8HmI1NOlq/pub">Rig Deployment Guide</a>
      <li><a href="https://docs.google.com/document/u/1/d/e/2PACX-1vTBXxvy6rUt97mgc1uX6ISAoInrbXLVM2m-xJf-Fr56m1ezYPc1kNrmvn_gSrYUrlCkdti2L-qldvBL/pub">Rig Maintenance Guide</a>
    </ul>

  </section>

  <footer id="footer">
    <p>{{ .Footer }}</p>
  </footer>

</body>

</html>
