<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/s/ao.css" rel="stylesheet" type="text/css"/>
  <script src="/s/ao.js" type="text/javascript"></script>
  <title>News</title>
</head>

<body onload="init();">
<header id="header" class="header">
{{ .Header }}
</header>

<section id="main" class="main">
<h1>News</h1>

<p>
<li><a href="https://salife.com.au/people-places/i-became-increasingly-concerned-about-the-plight-of-our-oceans/"
target="_blank">Alan Noble interview for SA LIFE</a>, 3 June 2022<br>

<li><a href="https://dayone.fm/alan-noble/"
target="_blank">Alan Noble interview for Day One</a>, 23 May 2022<br>

<li><a href="https://impact100sa.org.au/introducing-young-impact100-sa/"
target="_blank">AusOcean recognized at inaugural Young Impact 100 SA Awards</a>, 29 Aug 2021<br>

<li><a href="/s/dl/Minister-Chapman-KIPT-decision.pdf"
target="_blank">Minister's decision to reject KIPT port proposal</a>, 17 Aug 2021<br>

<li><a href="https://newsmaker.com.au/news/383259/cicada-innovations-ceo-sallyann-williams-joins-ausocean-board"
target="_blank">Cicada Innovations CEO Sally-Ann Williams joins AusOcean board</a>, 19 May 2021<br>

<li><a href="/s/audio/20210504_Alan_Noble_with_David_Bevan_on_ABC_Radio_Adelaide.ogg" target="_blank">
Radio interview with David Bevan discussing Upper Spencer Gulf cuttleflish and fish farming</a>, ABC Radio Adelaide, 4 May 2021<br>
<audio controls><source src="/s/audio/20210504_Alan_Noble_with_David_Bevan_on_ABC_Radio_Adelaide.ogg" type="audio/ogg">
Your browser does not support the audio element.</audio><br>

<li><a href="https://youtu.be/Ya_kXdkW9TU" target="_blank">
TV interview with Jody Oddy</a>, Channel 10 News Adelaide, 5 Apr 2021<br>

<li><a href="/s/audio/20201022_ABC_Radio_Adelaide_My_Octopus_Teacher.ogg" target="_blank">
Radio interview with David Bevan discussing <em>My Octopus Teacher</em></a>, ABC Radio Adelaide, 22 Oct 2020<br>
<audio controls><source src="/s/audio/20201022_ABC_Radio_Adelaide_My_Octopus_Teacher.ogg" type="audio/ogg">
Your browser does not support the audio element.</audio><br>

<li><a href="https://www.theislanderonline.com.au/story/6744914/whale-listening-stations-coral-cam-deployed-at-smith-bay"
target="_blank">AusOcean deploys whale listening stations at Smith Bay</a>, The Islander, 4 May 2020<br>

<li><a href="/s/audio/20200226_ABC_Radio_Adelaide_with_David_Bevan.mp3" target="_blank">
Radio interview with David Bevan discussing Kangaroo Island</a>, ABC Radio Adelaide, 26 Feb 2020<br>
<audio controls><source src="/s/audio/20200226_ABC_Radio_Adelaide_with_David_Bevan.mp3" type="audio/mp3">
Your browser does not support the audio element.</audio><br>

<li><a href="https://blog.ausocean.org/2020/02/vale-susan-myers-susie.html"
target="_blank">Vale Susan Myers</a>, AusOcean blog, 26 Feb 2020<br>

<li><a href="https://www.theislanderonline.com.au/story/6527679/ausocean-finds-protected-sea-dragons-at-smith-bay-jetty-site/"
target="_blank">AusOcean finds protected sea dragons at Smith Bay jetty site</a>, The Islander, 12 Dec 2019<br>

<li><a href="http://theleadsouthaustralia.com.au/industries/technology/ausocean-dives-into-water-surveillance/"
target="_blank">AusOcean dives into water surveillance</a>, The Lead, 10 Nov 2019<br>

<li><a href="https://www.adelaide.edu.au/alumni/news/list/2019/08/16/diving-into-problems-of-the-deep"
target="_blank">Diving into problems of the deep</a>, Adelaide University Lumen, 16 Aug 2019<br>

<li><a href="https://www.smartcompany.com.au/startupsmart/analysis/ausocean-alan-noble-google/"
target="_blank">Tech to change the world</a>, Smart Company, 1 May 2019<br>

<li><a href="https://www.newsmaker.com.au/news/374812/ausocean-releases-smith-bay-marine-ecology-report-in-face-of-proposed-kangaroo-island-seaport"
target="_blank">AusOcean releases Smith Bay Marine Ecology Report</a>, 28 Apr 2019<br>

<li><a href="/s/doc/Immanuel_College_students_assist_ocean_research.html">
Immanuel College students assist ocean research</a>, The Advertiser, 24 April 2019<br>

<li><a href="http://bit.ly/2KFAoZR " target="_blank">
TV interview with Ron Kandelaars</a>, Channel 7 News Adelaide, 14 Apr 2019<br>

<li><a href="https://www.theislanderonline.com.au/story/5981051/ki-stakeholders-digest-1500-page-smith-bay-statement" target="_blank">
KI stakeholders digest 1500-page Smith Bay statement</a>, The Islander, 29 Mar 2019<br>

<li><a href="/s/dl/Petition-to-rethink-deep-water-port-location-on-Kangaroo-Island.pdf" target="_blank">
Petition to urge MPs to rethink location of deepwater wharf on Kangaroo Island</a>, The Advertiser, 8 Feb 2019<br>

<li><a href="https://www.theislanderonline.com.au/story/5839924/ausocean-research-team-discovers-underwater-wonders-at-smith-bay/" target="_blank">
AusOcean research team discovers underwater wonders at Smith Bay</a>, The Islander, 14 Jan 2019<br>

<li><a href="https://www.theislanderonline.com.au/story/5740720/kipt-releases-updated-seaport-plans-to-shareholders/" target="_blank">KIPT releases updated seaport plans</a>, The Islander, 6 Nov 2018<br>

<li><a href="/s/audio/20181030_ABC_Radio_Adelaide_with_David_Bevan.ogg" target="_blank">
Radio interview with David Bevan discussing AusOcean </a>, ABC Radio Adelaide, 30 Oct 2018<br>
<audio controls><source src="/s/audio/20181030_ABC_Radio_Adelaide_with_David_Bevan.ogg" type="audio/ogg">
Your browser does not support the audio element.</audio><br>

<li><a href="https://www.abc.net.au/news/2018-10-31/google-heavy-hitter-alan-noble-turns-to-marine-conservation/10447746" target="_blank">Former Google heavy-hitter turns to underwater drones to aid marine conservation in SA</a>, ABC, 31 Oct 2018<br>

<li><a href="https://www.smartcompany.com.au/startupsmart/news-analysis/ausocean-founder-alan-noble-passion-ocean-support-network-why-left-google/" target="_blank">
AusOcean founder Alan Noble on his passion for the ocean</a>, Smart Company, 27 July 2018<br>

<li><a href="/s/img/FLM_June_2018.pdf" target="_blank">
Engineering in the Deep</a>, Fleurieu Living Magazine, June 2018<br>

<li><a href="https://www.smartcompany.com.au/startupsmart/news-analysis/google-australias-engineering-head-alan-noble-steps-down-focus-nonprofit-ausocean/" target="_blank">
Alan Noble to focus on a moonshot nonprofit</a>, Smart Company, 26 Feb 2018<br>

<li><a href="http://www.adelaidenow.com.au/business/alan-noble-quits-as-engineering-director-of-google-australia-to-focus-on-adelaidebased-ausocean-business/news-story/9b8b8794cbee008d02b8f4678a855c79" target="_blank">
Alan Noble to focus on Adelaide-based AusOcean business</a>, The Advertiser, 23 Feb 2018<br>

<li><a href="http://www.zdnet.com/article/noble-calls-time-on-google-australia-stint/" target="_blank">
Noble calls time on Google Australia stint</a>, ZD Net, 23 Feb 2018<br>

<li><a href="https://www.youtube.com/watch?v=gLwxA2bFlU4" target="_blank">
Dealing with ocean plastics: how citizen science can help</a>, TEDx Adelaide, 19 Oct 2017<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/gLwxA2bFlU4" title="YouTube player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>

</p>
</section>

<footer id="footer">
  <p>{{ .Footer }}</p>
</footer>

</body>
</html>
